.grid {
  display: grid;
  grid-template-columns: var(--left, 40px) var(--center,10px) var(--right, 40px);
  grid-template-rows: 20px;
  transition: 300ms;

}
.left{
  background-color: aqua;
}
.right{
  background-color: aqua;
}
.center{
background-color: blueviolet;
}



.grid:has(.center:hover){
--left:10px;
--right:10px;
--center:70px;
}