@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400;1,700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* listado de apis */

.list{
display: flex;
min-height: 90vh;
gap: 10px;
margin: 5vh 10px;
flex-wrap: wrap;
}
.list-article{
background-color: aqua;
flex: 1 0 auto;
border-radius: 10px;
padding: 20px;
}
.list-article h2{
  text-align: center;

}











.box{
margin: 20px auto;
width: 200px;
height: 200px;
background-color: skyblue;
border: 20px solid rgb(182, 16, 16);
padding: 20px;
text-align: center;
font-size: 2rem;
}
